.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}


input {
    border: 1px rgb(141, 134, 134) solid;
    padding: 10px;
    width: 500px;
    margin-right: 10px;
}

button {
    border: 1px solid black;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

p {
    max-width: 610px;
}

input:focus {
    outline: 0;
}